@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_Main.cshtml";
}

<div class="hidden-sm">
    @Html.Partial("_Carousel")
</div>

<div class="container">
    <div class="col-md-3 text-center">
        <i class="fa fa-sitemap fa-3x"></i> <h4>Web Architecture</h4>
        <p>
            ...
        </p>
    </div>
    <div class="col-md-3 text-center">
        <i class="fa fa-desktop fa-3x"></i> <h4>Front-End Development</h4>
        <p>
            ...
        </p>
    </div>
    <div class="col-md-3 text-center">
        <i class="fa fa-database fa-3x"></i> <h4>Database Design</h4>
        <p>
            ...
        </p>
    </div>
    <div class="col-md-3 text-center">
        <i class="fa fa-mobile fa-3x"></i> <h4>iOS Development</h4>
        <p>
            ...
        </p>
    </div>
</div>




@*<section id="about" class="about-section">
    <div class="container">
        <span class="scrollimation"></span>
        <div class="row">
            <div class="col-md-4 text-left">
                <img src="~/Content/Images/Web Architecture.png" />
                <h2>Web Architecture</h2>
                <p>

                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="~/Content/Images/Web Design.png" />
                <h2>Front-End Design</h2>
                <p>

                </p>
            </div>
            <div class="col-md-4 text-right">
                <img src="~/Content/Images/Mobile Design.png" />
                <h2>iOS Development</h2>
                <p>
                    
                </p>
            </div>

        </div>
    </div>
</section>*@


