
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_Main.cshtml";
}

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h4><strong>Education</strong></h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        University of Louisville
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        BS, Computer Information Systems
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <em>Focus:&nbsp;</em>Web Development
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        University of Louisville
    </div>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h4><strong>Skills</strong></h4>
    </div>
</div>

<hr />


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h4><strong>Experience</strong></h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-offset-2 col-md-4">
        Software Engineer Intern - ZirMed
    </div>
    <div class="col-md-offset-2 col-md-4">
        August 2014 - Present
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-offset-2 col-md-4">
        Developer Co-op - Heartland Payment Systems
    </div>
    <div class="col-md-offset-2 col-md-4">
        May 2014 - August 2014
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-offset-2 col-md-4">
        Help Desk Specialist - Yum Brands
    </div>
    <div class="col-md-offset-2 col-md-4">
        February 2014 - May 2014
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-offset-2 col-md-4">
        Implemenation and Systems Analyst - Appriss
    </div>
    <div class="col-md-offset-2 col-md-4">
        May 2013 - January 2014
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-offset-2 col-md-4">
        Line Operator - 3M
    </div>
    <div class="col-md-offset-2 col-md-4">
        May 2011 - May 2013
    </div>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h4><strong>Activities & Honors</strong></h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        UofL College of Business Student Council Member -- Representing over 1,500 students
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        UofL SES Scholarship Recipient 
    </div>
</div>

