@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_Main.cshtml";
}

@Html.Partial("_Carousel")


<section id="about" class="about-section">
    <div class="container">
        <span class="scrollimation"></span>
        <div class="row">
            <div class="col-md-4 text-left">
                <img src="~/Content/Images/Web Architecture.png" />
                <h2>Web Architecture</h2>
                <p>

                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="~/Content/Images/Web Design.png" />
                <h2>Front-End Design</h2>
                <p>

                </p>
            </div>
            <div class="col-md-4 text-right">
                <img src="~/Content/Images/Mobile Design.png" />
                <h2>iOS Development</h2>
                <p>
                    
                </p>
            </div>

        </div>
    </div>
</section>


