
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/Layouts/_Main.cshtml";
}


<div id="wrapper" class="hidden-sm">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div id="twitter-feed">
            <a class="twitter-timeline" href="https://twitter.com/Dre_Sebastiani" data-widget-id="582564448092573696">Tweets by Dre_Sebastiani</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

</div>



<div class="wrapper">

    <div class="row">&nbsp;</div>

    <div class="container">
        <div class="col-md-9">
            <h2>Blogs</h2>
        </div>
        <div class="col-md-3 blog-right">
            <h3>Recent Posts</h3>
        </div>
    </div>

</div>


